In [1]:
# Simple random sampling
import pandas as pd
import numpy as np

In [2]:
df_2015 = pd.read_csv("C:/Users/dbda.STUDENTSDC/Music/LabPractice/Notebooks/Datasets/marathon_results_2015.csv")
df_2016 = pd.read_csv("C:/Users/dbda.STUDENTSDC/Music/LabPractice/Notebooks/Datasets/marathon_results_2016.csv")
df_2017 = pd.read_csv("C:/Users/dbda.STUDENTSDC/Music/LabPractice/Notebooks/Datasets/marathon_results_2017.csv")

In [3]:
import pandas as pd  # Import Pandas for data manipulation

# Step 1: Concatenate the datasets from multiple years into a single DataFrame
# This merges the data, making it easier for analysis across years
df = pd.concat([df_2015, df_2016, df_2017])

# Step 2: Display a preview of the combined dataset
print("Preview of the merged dataset:")
print(df.head())  # Shows the first few rows for quick inspection

Preview of the merged dataset:
   Unnamed: 0 Bib                   Name  Age M/F         City State Country  \
0         0.0   3         Desisa, Lelisa   25   M         Ambo   NaN     ETH
1         1.0   4  Tsegay, Yemane Adhane   30   M  Addis Ababa   NaN     ETH
2         2.0   8         Chebet, Wilson   29   M     Marakwet   NaN     KEN
3         3.0  11       Kipyego, Bernard   28   M      Eldoret   NaN     KEN
4         4.0  10          Korir, Wesley   32   M       Kitale   NaN     KEN

  Citizen Unnamed: 9  ...      30K      35K      40K     Pace Proj Time  \
0     NaN        NaN  ...  1:32:00  1:47:59  2:02:39  0:04:56         -
1     NaN        NaN  ...  1:31:59  1:47:59  2:02:42  0:04:58         -
2     NaN        NaN  ...  1:32:00  1:47:59  2:03:01  0:04:59         -
3     NaN        NaN  ...  1:32:00  1:48:03  2:03:47  0:05:00         -
4     NaN        NaN  ...  1:32:00  1:47:59  2:03:27  0:05:00         -

  Official Time Overall Gender Division Unnamed: 8
0       2:09:17       1      1        1        NaN
1       2:09:48       2      2        2        NaN
2       2:10:22       3      3        3        NaN
3       2:10:47       4      4        4        NaN
4       2:10:49       5      5        5        NaN

[5 rows x 26 columns]

In [4]:
# Step 1: Apply systematic sampling by picking every 7th record
# This ensures data is evenly sampled throughout the dataset
sample_df = df.iloc[::7, :]

# Step 2: Display a preview of the sampled dataset
print("Preview of systematically sampled data:")
print(sample_df.head())  # Shows the first few rows for quick inspection

Preview of systematically sampled data:
    Unnamed: 0  Bib                  Name  Age M/F               City State  \
0          0.0    3        Desisa, Lelisa   25   M               Ambo   NaN
7          7.0    1       Keflezighi, Meb   39   M          San Diego    CA
14        14.0   76         Goffi, Danilo   42   M  Parabiago - Milan   NaN
21        21.0   32  Zywicki, Benjamin P.   26   M         Louisville    CO
28        28.0  106          Glaz, Daniel   32   M            Chicago    IL

   Country Citizen Unnamed: 9  ...      30K      35K      40K     Pace  \
0      ETH     NaN        NaN  ...  1:32:00  1:47:59  2:02:39  0:04:56
7      USA     NaN        NaN  ...  1:31:59  1:47:59  2:04:58  0:05:04
14     ITA     NaN        NaN  ...  1:38:02  1:54:55  2:11:25  0:05:18
21     USA     NaN        NaN  ...  1:38:46  1:56:05  2:13:25  0:05:24
28     USA     NaN        NaN  ...  1:42:19  1:59:50  2:17:03  0:05:32

   Proj Time Official Time Overall Gender Division Unnamed: 8
0          -       2:09:17       1      1        1        NaN
7          -       2:12:42       8      8        8        NaN
14         -       2:18:44      15     15        1        NaN
21         -       2:21:10      22     22       21        NaN
28         -       2:24:44      29     29       27        NaN

[5 rows x 26 columns]

In [5]:
# Step 1: Get the total number of rows in the original DataFrame
# The 'len()' function counts the number of rows in 'df'
original_row_count = len(df)

# Step 2: Print the result for easy reference
print("Total number of rows in the original DataFrame:", original_row_count)

Total number of rows in the original DataFrame: 79638

In [6]:
# Step 1: Perform simple random sampling (selecting 10% of the dataset)
# The 'sample()' function randomly selects records based on the fraction provided
sample_df = df.sample(frac=0.1, random_state=42)

# Step 2: Display a preview of the sampled dataset
print("Preview of randomly sampled data:")
print(sample_df.head())  # Shows the first few rows for quick inspection

Preview of randomly sampled data:
       Unnamed: 0    Bib                 Name  Age M/F            City State  \
24038     24038.0  31350    Labonte, Laura R.   34   F     Charlestown    MA
20218     20218.0  21352        Vargas, Mario   64   M  Shaker Heights    OH
23755     23755.0  27235  Wilkins, Stephen D.   53   M      Dorchester    MA
1447       1447.0   4337     Johnson, David T   32   M         Brandon    FL
25121         NaN  26089       Bashor, Mari W   67   F      Sacramento    CA

      Country Citizen Unnamed: 9  ...      30K      35K      40K     Pace  \
24038     USA     NaN        NaN  ...  3:22:19  3:56:22  4:29:25  0:10:49
20218     USA     NaN        NaN  ...  2:52:26  3:24:14  3:54:58  0:09:28
23755     USA     NaN        NaN  ...  3:14:37  3:49:59  4:24:08  0:10:40
1447      USA     NaN        NaN  ...  2:00:46  2:21:31  2:43:11  0:06:39
25121     USA     NaN        NaN  ...  3:35:49  4:17:13  4:56:18  0:11:58

      Proj Time Official Time Overall Gender Division Unnamed: 8
24038         -       4:43:30   24039  10561     5235        NaN
20218         -       4:08:04   20219  11836      568        NaN
23755         -       4:39:30   23756  13348     1896        NaN
1447          -       2:54:17    1448   1376     1108        NaN
25121   5:13:34       5:13:34   25121  11285       87        NaN

[5 rows x 26 columns]

In [7]:
# Step 1: Get the total number of rows in the sampled DataFrame
sample_row_count = len(sample_df)

# Step 2: Print the result for quick inspection
print("Total number of rows in the sampled DataFrame:", sample_row_count)

Total number of rows in the sampled DataFrame: 7964

In [8]:
# Step 1: Display the first few rows of the original DataFrame
print("First few rows of the original DataFrame:")
print(df.head())  # Shows the first five rows of the full dataset

# Step 2: Display the first few rows of the sampled DataFrame
print("\nFirst few rows of the sampled DataFrame:")
print(sample_df.head())  # Shows the first five rows of the sampled dataset

First few rows of the original DataFrame:
   Unnamed: 0 Bib                   Name  Age M/F         City State Country  \
0         0.0   3         Desisa, Lelisa   25   M         Ambo   NaN     ETH
1         1.0   4  Tsegay, Yemane Adhane   30   M  Addis Ababa   NaN     ETH
2         2.0   8         Chebet, Wilson   29   M     Marakwet   NaN     KEN
3         3.0  11       Kipyego, Bernard   28   M      Eldoret   NaN     KEN
4         4.0  10          Korir, Wesley   32   M       Kitale   NaN     KEN

  Citizen Unnamed: 9  ...      30K      35K      40K     Pace Proj Time  \
0     NaN        NaN  ...  1:32:00  1:47:59  2:02:39  0:04:56         -
1     NaN        NaN  ...  1:31:59  1:47:59  2:02:42  0:04:58         -
2     NaN        NaN  ...  1:32:00  1:47:59  2:03:01  0:04:59         -
3     NaN        NaN  ...  1:32:00  1:48:03  2:03:47  0:05:00         -
4     NaN        NaN  ...  1:32:00  1:47:59  2:03:27  0:05:00         -

  Official Time Overall Gender Division Unnamed: 8
0       2:09:17       1      1        1        NaN
1       2:09:48       2      2        2        NaN
2       2:10:22       3      3        3        NaN
3       2:10:47       4      4        4        NaN
4       2:10:49       5      5        5        NaN

[5 rows x 26 columns]

First few rows of the sampled DataFrame:
       Unnamed: 0    Bib                 Name  Age M/F            City State  \
24038     24038.0  31350    Labonte, Laura R.   34   F     Charlestown    MA
20218     20218.0  21352        Vargas, Mario   64   M  Shaker Heights    OH
23755     23755.0  27235  Wilkins, Stephen D.   53   M      Dorchester    MA
1447       1447.0   4337     Johnson, David T   32   M         Brandon    FL
25121         NaN  26089       Bashor, Mari W   67   F      Sacramento    CA

      Country Citizen Unnamed: 9  ...      30K      35K      40K     Pace  \
24038     USA     NaN        NaN  ...  3:22:19  3:56:22  4:29:25  0:10:49
20218     USA     NaN        NaN  ...  2:52:26  3:24:14  3:54:58  0:09:28
23755     USA     NaN        NaN  ...  3:14:37  3:49:59  4:24:08  0:10:40
1447      USA     NaN        NaN  ...  2:00:46  2:21:31  2:43:11  0:06:39
25121     USA     NaN        NaN  ...  3:35:49  4:17:13  4:56:18  0:11:58

      Proj Time Official Time Overall Gender Division Unnamed: 8
24038         -       4:43:30   24039  10561     5235        NaN
20218         -       4:08:04   20219  11836      568        NaN
23755         -       4:39:30   23756  13348     1896        NaN
1447          -       2:54:17    1448   1376     1108        NaN
25121   5:13:34       5:13:34   25121  11285       87        NaN

[5 rows x 26 columns]

In [9]:
# Step 1: Count the number of male athletes
# Filters rows where 'M/F' column is 'M' and calculates the total count
total_males = len(df[df['M/F'] == 'M'])

# Step 2: Count the number of female athletes
# Filters rows where 'M/F' column is 'F' and calculates the total count
total_females = len(df[df['M/F'] == 'F'])

# Step 3: Print the results for quick reference
print("Total Male Athletes:", total_males)
print("Total Female Athletes:", total_females)

Total Male Athletes: 43482
Total Female Athletes: 36156

In [10]:
# Step 1: Calculate the sample size (10% of the total dataset)
sample_size = int(0.1 * original_row_count)

# Step 2: Compute the proportionate number of male athletes
sample_males = int(0.1 * total_males)

# Step 3: Compute the proportionate number of female athletes
sample_females = int(0.1 * total_females)

# Step 4: Print results for verification
print(f"Total sample size: {sample_size}")
print(f"Proportionate sample size for males: {sample_males}")
print(f"Proportionate sample size for females: {sample_females}")

Total sample size: 7963
Proportionate sample size for males: 4348
Proportionate sample size for females: 3615

In [11]:
# Step 1: Generate a proportionate sample of male athletes
# The '.sample()' function selects 'sample_males' number of male records randomly
male_sample = df[df['M/F'] == 'M'].sample(n=sample_males, random_state=42)

# Step 2: Generate a proportionate sample of female athletes
# The '.sample()' function selects 'sample_females' number of female records randomly
female_sample = df[df['M/F'] == 'F'].sample(n=sample_females, random_state=42)

# Step 3: Display sample sizes for verification
print(f"Sampled Male Athletes: {len(male_sample)}")
print(f"Sampled Female Athletes: {len(female_sample)}")

Sampled Male Athletes: 4348
Sampled Female Athletes: 3615

In [12]:
# Step 1: Combine male and female samples into a single DataFrame
# 'pd.concat()' merges both datasets while keeping all records intact
sample_df = pd.concat([male_sample, female_sample])

# Step 2: Reset index after merging to maintain clean and sequential indexing
sample_df.reset_index(drop=True, inplace=True)

# Step 3: Display a preview of the combined sample dataset
print("Preview of the merged sample dataset:")
print(sample_df.head())  # Shows the first few rows for quick inspection

Preview of the merged sample dataset:
   Unnamed: 0    Bib                Name  Age M/F           City State  \
0     17164.0   5919   Pucci, Ferdinando   36   M         Quincy    MA
1         NaN  28464     Burns, Shawn M.   44   M       Pembroke    MA
2         NaN   2338       Sauvola, Lars   41   M         Rindge    NH
3      6577.0   9603  Burns, Jonathan M.   47   M  Mechanicsburg    PA
4     17054.0   5434      Benjamin, Elad   40   M        Raanana   NaN

  Country Citizen Unnamed: 9  ...      30K      35K      40K     Pace  \
0     USA     NaN        NaN  ...  2:23:12  3:00:12  3:46:17  0:09:27
1     USA     NaN        NaN  ...  3:10:08  3:48:26  4:25:25  0:10:46
2     USA     NaN        NaN  ...  2:10:14  2:33:48  2:56:56  0:07:08
3     USA     NaN        NaN  ...  2:16:58  2:41:11  3:06:37  0:07:34
4     ISR     NaN        NaN  ...  2:40:03  3:08:50  3:38:39  0:08:52

  Proj Time Official Time Overall Gender Division Unnamed: 8
0         -       4:07:27   17166  10390     3796        NaN
1   4:41:59       4:41:59   23023  12863     1835        NaN
2   3:06:43       3:06:43    2332   2154      335        NaN
3         -       3:18:23    6578   5654      850        NaN
4         -       3:52:28   17055  10576     1657        NaN

[5 rows x 26 columns]

In [13]:
# Step 1: Get the total number of rows in the sampled DataFrame
sample_row_count = len(sample_df)

# Step 2: Print the result for easy reference
print("Total number of rows in the sampled DataFrame:", sample_row_count)

Total number of rows in the sampled DataFrame: 7963

In [14]:
# Step 1: Display the first few rows of the original DataFrame
print("First few rows of the original DataFrame:")
print(df.head())  # Shows the first five rows for quick inspection

# Step 2: Display the first few rows of the sampled DataFrame
print("\nFirst few rows of the sampled DataFrame:")
print(sample_df.head())  # Shows the first five rows of the sampled dataset

First few rows of the original DataFrame:
   Unnamed: 0 Bib                   Name  Age M/F         City State Country  \
0         0.0   3         Desisa, Lelisa   25   M         Ambo   NaN     ETH
1         1.0   4  Tsegay, Yemane Adhane   30   M  Addis Ababa   NaN     ETH
2         2.0   8         Chebet, Wilson   29   M     Marakwet   NaN     KEN
3         3.0  11       Kipyego, Bernard   28   M      Eldoret   NaN     KEN
4         4.0  10          Korir, Wesley   32   M       Kitale   NaN     KEN

  Citizen Unnamed: 9  ...      30K      35K      40K     Pace Proj Time  \
0     NaN        NaN  ...  1:32:00  1:47:59  2:02:39  0:04:56         -
1     NaN        NaN  ...  1:31:59  1:47:59  2:02:42  0:04:58         -
2     NaN        NaN  ...  1:32:00  1:47:59  2:03:01  0:04:59         -
3     NaN        NaN  ...  1:32:00  1:48:03  2:03:47  0:05:00         -
4     NaN        NaN  ...  1:32:00  1:47:59  2:03:27  0:05:00         -

  Official Time Overall Gender Division Unnamed: 8
0       2:09:17       1      1        1        NaN
1       2:09:48       2      2        2        NaN
2       2:10:22       3      3        3        NaN
3       2:10:47       4      4        4        NaN
4       2:10:49       5      5        5        NaN

[5 rows x 26 columns]

First few rows of the sampled DataFrame:
   Unnamed: 0    Bib                Name  Age M/F           City State  \
0     17164.0   5919   Pucci, Ferdinando   36   M         Quincy    MA
1         NaN  28464     Burns, Shawn M.   44   M       Pembroke    MA
2         NaN   2338       Sauvola, Lars   41   M         Rindge    NH
3      6577.0   9603  Burns, Jonathan M.   47   M  Mechanicsburg    PA
4     17054.0   5434      Benjamin, Elad   40   M        Raanana   NaN

  Country Citizen Unnamed: 9  ...      30K      35K      40K     Pace  \
0     USA     NaN        NaN  ...  2:23:12  3:00:12  3:46:17  0:09:27
1     USA     NaN        NaN  ...  3:10:08  3:48:26  4:25:25  0:10:46
2     USA     NaN        NaN  ...  2:10:14  2:33:48  2:56:56  0:07:08
3     USA     NaN        NaN  ...  2:16:58  2:41:11  3:06:37  0:07:34
4     ISR     NaN        NaN  ...  2:40:03  3:08:50  3:38:39  0:08:52

  Proj Time Official Time Overall Gender Division Unnamed: 8
0         -       4:07:27   17166  10390     3796        NaN
1   4:41:59       4:41:59   23023  12863     1835        NaN
2   3:06:43       3:06:43    2332   2154      335        NaN
3         -       3:18:23    6578   5654      850        NaN
4         -       3:52:28   17055  10576     1657        NaN

[5 rows x 26 columns]

In [15]:
# Step 1: Print the total number of rows in the original DataFrame
print(f"\nNumber of rows in the original DataFrame: {original_row_count}")

# Step 2: Print the total number of rows in the sampled DataFrame
print(f"Number of rows in the sampled DataFrame: {sample_row_count}")

Number of rows in the original DataFrame: 79638
Number of rows in the sampled DataFrame: 7963

In [16]:
# Step 1: Count the number of male athletes in the sampled DataFrame
num_males_sampled = len(sample_df[sample_df['M/F'] == 'M'])

# Step 2: Count the number of female athletes in the sampled DataFrame
num_females_sampled = len(sample_df[sample_df['M/F'] == 'F'])

# Step 3: Print the results for easy comparison
print(f"Number of male athletes in the sampled DataFrame: {num_males_sampled}")
print(f"Number of female athletes in the sampled DataFrame: {num_females_sampled}")

Number of male athletes in the sampled DataFrame: 4348
Number of female athletes in the sampled DataFrame: 3615

In [17]:
# Step 1: Get the total number of rows in the original DataFrame
# 'len(df)' counts the number of rows in the dataset
original_row_count = len(df)

# Step 2: Print the result for quick reference
print(f"Total number of rows in the original DataFrame: {original_row_count}")

Total number of rows in the original DataFrame: 79638

In [18]:
# Step 1: Find the unique countries in the dataset
unique_countries = df['Country'].unique()  # Extracts all unique country names

# Step 2: Count the total number of unique countries
num_countries = len(unique_countries)  # Computes the total unique count

# Step 3: Print the results for verification
print(f"Total unique countries represented: {num_countries}")
print("List of unique countries:")
print(unique_countries)  # Displays all distinct countries

Total unique countries represented: 105
List of unique countries:
['ETH' 'KEN' 'USA' 'UKR' 'RSA' 'ITA' 'RUS' 'JPN' 'CAN' 'BEL' 'NZL' 'BLR'
 'AUS' 'GBR' 'CRO' 'ECU' 'GER' 'ESP' 'SWE' 'BRA' 'HKG' 'MEX' 'DEN' 'MAS'
 'IRL' 'ISL' 'CHI' 'GUA' 'FIN' 'SVK' 'COL' 'SUI' 'CHN' 'AUT' 'NED' 'FRA'
 'CRC' 'CYP' 'POL' 'NOR' 'KOR' 'POR' 'TPE' 'PER' 'SIN' 'PAN' 'VEN' 'LUX'
 'CZE' 'VIE' 'MAR' 'BER' 'ROU' 'IND' 'LIE' 'ARG' 'ESA' 'DOM' 'ISR' 'GRE'
 'SLO' 'LTU' 'URU' 'CAY' 'EST' 'JAM' 'UAE' 'VGB' 'TUR' 'LAT' 'AND' 'OMA'
 'BAH' 'TRI' 'INA' 'AHO' 'PHI' 'UGA' 'QAT' 'ZIM' 'TWN' 'HON' 'FLK' 'HUN'
 'JOR' 'ALB' 'SRB' 'PAK' 'BRN' 'BDI' 'EGY' 'THA' 'MLT' 'KSA' 'SMR' 'BUL'
 'ALG' 'NCA' 'BAR' 'GRN' 'PAR' 'TCA' 'KUW' 'MGL' 'NGR']

In [19]:
import numpy as np  # Import NumPy for random selection

# Step 1: Set a seed for reproducibility
np.random.seed(42)

# Step 2: Randomly select half of the unique countries
selected_countries = np.random.choice(unique_countries, size=len(unique_countries) // 2, replace=False)

# Step 3: Print the results
print(f"Randomly selected {len(selected_countries)} countries:")
print(selected_countries)

Randomly selected 52 countries:
['COL' 'JAM' 'EST' 'IND' 'PAN' 'SMR' 'NGR' 'LUX' 'NZL' 'ETH' 'SWE' 'SUI'
 'BDI' 'ALG' 'UGA' 'RSA' 'TWN' 'AUT' 'AUS' 'CHI' 'GRN' 'ARG' 'DEN' 'PHI'
 'SIN' 'BAH' 'ECU' 'TPE' 'KOR' 'BEL' 'ALB' 'BLR' 'MGL' 'QAT' 'FIN' 'ZIM'
 'ITA' 'URU' 'ESA' 'NOR' 'FRA' 'GER' 'UAE' 'NED' 'JPN' 'PER' 'TUR' 'LAT'
 'GUA' 'BRA' 'JOR' 'ISL']

In [20]:
import numpy as np  # Import NumPy for random selection

# Step 1: Set a seed for reproducibility
np.random.seed(42)  # Ensures consistent random selection across runs

# Step 2: Randomly select half of the unique countries
# 'replace=False' ensures each country is chosen only once
selected_countries = np.random.choice(unique_countries, size=num_countries//2, replace=False)

# Step 3: Print the results for verification
print(f"Randomly selected {len(selected_countries)} countries:")
print(selected_countries)

Randomly selected 52 countries:
['COL' 'JAM' 'EST' 'IND' 'PAN' 'SMR' 'NGR' 'LUX' 'NZL' 'ETH' 'SWE' 'SUI'
 'BDI' 'ALG' 'UGA' 'RSA' 'TWN' 'AUT' 'AUS' 'CHI' 'GRN' 'ARG' 'DEN' 'PHI'
 'SIN' 'BAH' 'ECU' 'TPE' 'KOR' 'BEL' 'ALB' 'BLR' 'MGL' 'QAT' 'FIN' 'ZIM'
 'ITA' 'URU' 'ESA' 'NOR' 'FRA' 'GER' 'UAE' 'NED' 'JPN' 'PER' 'TUR' 'LAT'
 'GUA' 'BRA' 'JOR' 'ISL']

In [21]:
# Step 1: Create a new DataFrame containing records from the selected countries
# 'df['Country'].isin(selected_countries)' filters only rows where 'Country' matches the selected list
sample_df = df[df['Country'].isin(selected_countries)]

# Step 2: Display a preview of the filtered dataset
print(f"Sampled dataset now contains records from {len(selected_countries)} countries.")
print(sample_df.head())  # Shows the first few rows for quick verification

Sampled dataset now contains records from 52 countries.
    Unnamed: 0 Bib                   Name  Age M/F               City State  \
0          0.0   3         Desisa, Lelisa   25   M               Ambo   NaN
1          1.0   4  Tsegay, Yemane Adhane   30   M        Addis Ababa   NaN
8          8.0   5           Tola, Tadese   27   M        Addis Ababa   NaN
12        12.0  15         April, Lusapho   32   M          Uitenhage   NaN
14        14.0  76          Goffi, Danilo   42   M  Parabiago - Milan   NaN

   Country Citizen Unnamed: 9  ...      30K      35K      40K     Pace  \
0      ETH     NaN        NaN  ...  1:32:00  1:47:59  2:02:39  0:04:56
1      ETH     NaN        NaN  ...  1:31:59  1:47:59  2:02:42  0:04:58
8      ETH     NaN        NaN  ...  1:32:00  1:48:00  2:04:39  0:05:06
12     RSA     NaN        NaN  ...  1:32:00  1:48:07  2:06:50  0:05:13
14     ITA     NaN        NaN  ...  1:38:02  1:54:55  2:11:25  0:05:18

   Proj Time Official Time Overall Gender Division Unnamed: 8
0          -       2:09:17       1      1        1        NaN
1          -       2:09:48       2      2        2        NaN
8          -       2:13:35       9      9        9        NaN
12         -       2:16:25      13     13       13        NaN
14         -       2:18:44      15     15        1        NaN

[5 rows x 26 columns]

In [22]:
# Step 1: Count the total number of rows in the sampled DataFrame
sample_row_count = len(sample_df)

# Step 2: Print the result for quick verification
print(f"Total number of rows in the sampled DataFrame: {sample_row_count}")

Total number of rows in the sampled DataFrame: 5331

In [23]:
# Step 1: Print the first few rows of the original DataFrame
print("First few rows of the original DataFrame:")
print(df.head())  # Displays the first five rows

# Step 2: Print the first few rows of the sampled DataFrame
print("\nFirst few rows of the sampled DataFrame:")
print(sample_df.head())  # Displays the first five rows

First few rows of the original DataFrame:
   Unnamed: 0 Bib                   Name  Age M/F         City State Country  \
0         0.0   3         Desisa, Lelisa   25   M         Ambo   NaN     ETH
1         1.0   4  Tsegay, Yemane Adhane   30   M  Addis Ababa   NaN     ETH
2         2.0   8         Chebet, Wilson   29   M     Marakwet   NaN     KEN
3         3.0  11       Kipyego, Bernard   28   M      Eldoret   NaN     KEN
4         4.0  10          Korir, Wesley   32   M       Kitale   NaN     KEN

  Citizen Unnamed: 9  ...      30K      35K      40K     Pace Proj Time  \
0     NaN        NaN  ...  1:32:00  1:47:59  2:02:39  0:04:56         -
1     NaN        NaN  ...  1:31:59  1:47:59  2:02:42  0:04:58         -
2     NaN        NaN  ...  1:32:00  1:47:59  2:03:01  0:04:59         -
3     NaN        NaN  ...  1:32:00  1:48:03  2:03:47  0:05:00         -
4     NaN        NaN  ...  1:32:00  1:47:59  2:03:27  0:05:00         -

  Official Time Overall Gender Division Unnamed: 8
0       2:09:17       1      1        1        NaN
1       2:09:48       2      2        2        NaN
2       2:10:22       3      3        3        NaN
3       2:10:47       4      4        4        NaN
4       2:10:49       5      5        5        NaN

[5 rows x 26 columns]

First few rows of the sampled DataFrame:
    Unnamed: 0 Bib                   Name  Age M/F               City State  \
0          0.0   3         Desisa, Lelisa   25   M               Ambo   NaN
1          1.0   4  Tsegay, Yemane Adhane   30   M        Addis Ababa   NaN
8          8.0   5           Tola, Tadese   27   M        Addis Ababa   NaN
12        12.0  15         April, Lusapho   32   M          Uitenhage   NaN
14        14.0  76          Goffi, Danilo   42   M  Parabiago - Milan   NaN

   Country Citizen Unnamed: 9  ...      30K      35K      40K     Pace  \
0      ETH     NaN        NaN  ...  1:32:00  1:47:59  2:02:39  0:04:56
1      ETH     NaN        NaN  ...  1:31:59  1:47:59  2:02:42  0:04:58
8      ETH     NaN        NaN  ...  1:32:00  1:48:00  2:04:39  0:05:06
12     RSA     NaN        NaN  ...  1:32:00  1:48:07  2:06:50  0:05:13
14     ITA     NaN        NaN  ...  1:38:02  1:54:55  2:11:25  0:05:18

   Proj Time Official Time Overall Gender Division Unnamed: 8
0          -       2:09:17       1      1        1        NaN
1          -       2:09:48       2      2        2        NaN
8          -       2:13:35       9      9        9        NaN
12         -       2:16:25      13     13       13        NaN
14         -       2:18:44      15     15        1        NaN

[5 rows x 26 columns]

In [24]:
# Step 1: Print the total number of rows in the original DataFrame
print(f"\nNumber of rows in the original DataFrame: {original_row_count}")

# Step 2: Print the total number of rows in the sampled DataFrame
print(f"Number of rows in the sampled DataFrame: {sample_row_count}")

Number of rows in the original DataFrame: 79638
Number of rows in the sampled DataFrame: 5331