In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/dbda.STUDENTSDC/Music/LabPractice/Notebooks/Datasets/loan_approval_dataset.csv")

In [3]:
df

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,4266,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,4267,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,4268,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,4269,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved

In [4]:
# Count the total number of records in the DataFrame
N = len(df)

# Print the result for verification
print(f"Total number of records: {N}")

Total number of records: 4269

In [5]:
# Step 1: Count the number of loans that were approved
A = len(df[df['loan_status'] == 'Approved'])

# Step 2: Print the result for verification
print(f"Total number of approved loans: {A}")

Total number of approved loans: 2656

In [6]:
# Step 1: Count the number of individuals with good credit (CIBIL score >= 700)
B = len(df[df['cibil_score'] >= 700])

# Step 2: Print the result for verification
print(f"Total number of individuals with good credit (CIBIL >= 700): {B}")

Total number of individuals with good credit (CIBIL >= 700): 1430

In [7]:
# Step 1: Count the number of individuals who got loan approval AND have good credit (CIBIL >= 700)
A_and_B = len(df[(df['loan_status'] == 'Approved') & (df['cibil_score'] >= 700)])

# Step 2: Print the result for verification
print(f"Total number of approved loans with good credit (CIBIL >= 700): {A_and_B}")

Total number of approved loans with good credit (CIBIL >= 700): 1423

In [8]:
# Step 1: Compute the probability of loan approval
P_A = A / N  # P(Loan Approved)

# Step 2: Compute the probability of having good credit
P_B = B / N  # P(Good Credit)

# Step 3: Compute the conditional probability P(Good Credit | Approved)
P_B_given_A = A_and_B / A  # Probability of good credit, given loan was approved

# Step 4: Print the results for verification
print(f"P(Loan Approved): {round(P_A, 2)}")
print(f"P(Good Credit): {round(P_B, 2)}")
print(f"P(Good Credit | Approved): {round(P_B_given_A, 2)}")

P(Loan Approved): 0.62
P(Good Credit): 0.33
P(Good Credit | Approved): 0.54

In [9]:
# Step 1: Compute conditional probability P(Loan Approved | Good Credit) using Bayes' theorem
P_A_given_B = (P_B_given_A * P_A) / P_B  # Bayes' Theorem formula

# Step 2: Print the result for verification
print(f"P(Loan Approved | Good Credit): {round(P_A_given_B, 2)}")

P(Loan Approved | Good Credit): 1.0

In [10]:
# Display summary of dataset analysis
print("Total Records:", N)
print("Approved Count:", A)
print("Good Credit Count:", B)
print("Approved AND Good Credit:", A_and_B)

# Display probabilities for deeper insights
print("P(Loan Approved):", round(P_A, 2))
print("P(Good CIBIL Score):", round(P_B, 2))
print("P(Good CIBIL Score | Loan was Approved):", round(P_B_given_A, 2))
print("P(Loan Approved | Good Credit):", round(P_A_given_B, 2))

Total Records: 4269
Approved Count: 2656
Good Credit Count: 1430
Approved AND Good Credit: 1423
P(Loan Approved): 0.62
P(Good CIBIL Score): 0.33
P(Good CIBIL Score | Loan was Approved): 0.54
P(Loan Approved | Good Credit): 1.0

In [11]:
# Step 1: Calculate the number of people with bad credit (CIBIL < 700)
bad_credit = N - B  # Total records minus the good credit count

# Step 2: Print the result for verification
print(f"Total number of customers with bad credit (CIBIL < 700): {bad_credit}")

Total number of customers with bad credit (CIBIL < 700): 2839

In [12]:
# Step 1: Compute the number of approved applicants who do NOT have good credit
A_and_notB = A - A_and_B  # Approved minus those with good credit

# Step 2: Print the result for verification
print(f"Total number of approved loans with bad credit (CIBIL < 700): {A_and_notB}")

Total number of approved loans with bad credit (CIBIL < 700): 1233

In [14]:
# Step 1: Compute P(Loan Approved | Bad Credit) using Bayes' theorem
P_A_given_notB = (A_and_notB / A) * (P_A / (bad_credit / N))  # Where P_notB = bad_credit / N

# Step 2: Print result for verification
print(f"P(Loan Approved | Bad Credit): {round(P_A_given_notB, 2)}")

P(Loan Approved | Bad Credit): 0.43

In [15]:
# Compute the probability of loan approval given good credit (CIBIL = 800)
print("P(Loan Approved | CIBIL Score = 800):", round(P_A_given_B, 2))  # Good credit

# Compute the probability of loan approval given bad credit (CIBIL = 500)
print("P(Loan Approved | CIBIL Score = 500):", round(P_A_given_notB, 2))  # Bad credit

P(Loan Approved | CIBIL Score = 800): 1.0
P(Loan Approved | CIBIL Score = 500): 0.43

In [16]:
# Now suppose out of 300 new customers with bad credit rating, 285 were approved ...
# This was because of some policy relaxation ...
# 301st customer walks in and she she has a bad credit rating ... What are her chances of getting a loan?

In [17]:
# Step 1: Define new evidence
new_bad_credit = 300  # New count of people with bad credit (CIBIL < 700)
new_approved_bad_credit = 285  # New count of approved loans for bad credit holders

# Step 2: Print results to verify data entry
print(f"New bad credit count: {new_bad_credit}")
print(f"New approved loans with bad credit: {new_approved_bad_credit}")

New bad credit count: 300
New approved loans with bad credit: 285

In [18]:
# Step 1: Update the bad credit count with new customers
bad_credit += new_bad_credit  # Add newly arrived bad credit customers

# Step 2: Update the number of approved loans
A += new_approved_bad_credit  # Add newly approved loans from bad credit applicants

# Step 3: Update total records (since all new customers had bad credit)
N += new_bad_credit  # Total dataset increases by the number of new bad credit customers

# Step 4: Print updated values for verification
print(f"Updated Total Records: {N}")
print(f"Updated Approved Count: {A}")
print(f"Updated Bad Credit Count: {bad_credit}")

Updated Total Records: 4569
Updated Approved Count: 2941
Updated Bad Credit Count: 3139

In [19]:
# Step 1: Update the count of approved applicants with bad credit
A_and_notB += new_approved_bad_credit  # Add newly approved cases

# Step 2: Print the updated count for verification
print(f"Updated count of approved loans with bad credit: {A_and_notB}")

Updated count of approved loans with bad credit: 1518

In [20]:
# Step 1: Compute updated marginal probabilities
P_A = A / N  # Probability of loan approval
P_notB = bad_credit / N  # Probability of having bad credit

# Step 2: Compute joint probability P(Approved AND Bad Credit)
P_A_and_notB = A_and_notB / N  # Probability of being approved despite bad credit

# Step 3: Compute conditional probability P(Loan Approved | Bad Credit)
P_A_given_notB = P_A_and_notB / P_notB  # Probability of approval given bad credit

# Step 4: Print results for verification
print(f"P(Loan Approved): {round(P_A, 2)}")
print(f"P(Bad Credit): {round(P_notB, 2)}")
print(f"P(Approved AND Bad Credit): {round(P_A_and_notB, 2)}")
print(f"P(Loan Approved | Bad Credit): {round(P_A_given_notB, 2)}")

P(Loan Approved): 0.64
P(Bad Credit): 0.69
P(Approved AND Bad Credit): 0.33
P(Loan Approved | Bad Credit): 0.48

In [21]:
# Print updated conditional probability after adding 300 new bad credit customers
print("After updating with 300 new bad credit customers:")
print("P(Loan Approved | CIBIL Score < 700):", round(P_A_given_notB, 2))

After updating with 300 new bad credit customers:
P(Loan Approved | CIBIL Score < 700): 0.48