In [1]:
# Import necessary libraries
import pandas as pd  # For handling datasets
from sklearn.preprocessing import StandardScaler, MinMaxScaler  # For scaling features

# Placeholder: Load your dataset (Update the file path)
# df = pd.read_csv("path_to_your_dataset.csv")

# Display the first few rows of the dataset (Uncomment after loading the dataset)
# print(df.head())

In [2]:
# Step 1: Load the dataset

# Load the dataset from the specified file path
df = pd.read_csv('C:/Users/dbda.STUDENTSDC/Music/LabPractice/Notebooks/Datasets/tips.csv')

# Display the first few rows to verify data structure
print(df.head())

   total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45
2       21.01  3.50    Male     No  Sun  Dinner     3              7.00
3       23.68  3.31    Male     No  Sun  Dinner     2             11.84
4       24.59  3.61  Female     No  Sun  Dinner     4              6.15

           Payer Name     CC Number Payment ID
0  Christy Cunningham  3.560330e+15    Sun2959
1      Douglas Tucker  4.478070e+15    Sun4608
2      Travis Walters  6.011810e+15    Sun4458
3    Nathaniel Harris  4.676140e+15    Sun5260
4        Tonya Carter  4.832730e+15    Sun2251

In [3]:
# Step 2: Display the first two rows of the dataset

print("First two rows of the dataset:\n", df.head(2))

First two rows of the dataset:
    total_bill   tip  gender smoker  day    time  size  price_per_person  \
0       16.99  1.01  Female     No  Sun  Dinner     2              8.49
1       10.34  1.66    Male     No  Sun  Dinner     3              3.45

           Payer Name     CC Number Payment ID
0  Christy Cunningham  3.560330e+15    Sun2959
1      Douglas Tucker  4.478070e+15    Sun4608

In [4]:
# Step 3: Select 'total_bill' column as a DataFrame

total_bill = df[['total_bill']]  # Keeping column structure as DataFrame

# Print sample data for verification
print("Sample Total Bill values:\n", total_bill.head())

Sample Total Bill values:
    total_bill
0       16.99
1       10.34
2       21.01
3       23.68
4       24.59

In [5]:
# Step 4: Apply Standard Scaling to 'total_bill' column

from sklearn.preprocessing import StandardScaler  # Import StandardScaler

# Initialize the scaler
standard_scaler = StandardScaler()

# Fit and transform the 'total_bill' column
df['total_bill_standard_scaled'] = standard_scaler.fit_transform(total_bill)

# Display first few scaled values for verification
print("Standard Scaled Total Bill:\n", df[['total_bill', 'total_bill_standard_scaled']].head())

Standard Scaled Total Bill:
    total_bill  total_bill_standard_scaled
0       16.99                   -0.314711
1       10.34                   -1.063235
2       21.01                    0.137780
3       23.68                    0.438315
4       24.59                    0.540745

In [6]:
# Step 5: Apply Min-Max Scaling to 'total_bill' column

from sklearn.preprocessing import MinMaxScaler  # Import MinMaxScaler

# Initialize the scaler
minmax_scaler = MinMaxScaler()

# Fit and transform the 'total_bill' column
df['total_bill_minmax_scaled'] = minmax_scaler.fit_transform(total_bill)

# Display first few scaled values for verification
print("Min-Max Scaled Total Bill:\n", df[['total_bill', 'total_bill_minmax_scaled']].head())

Min-Max Scaled Total Bill:
    total_bill  total_bill_minmax_scaled
0       16.99                  0.291579
1       10.34                  0.152283
2       21.01                  0.375786
3       23.68                  0.431713
4       24.59                  0.450775

In [7]:
# Step 6: Display scaled values with original 'total_bill' column

# Ensure all columns are visible
pd.set_option('display.max_columns', None)  

# Print first 10 rows to compare original and scaled values
print(df[['total_bill', 'total_bill_standard_scaled', 'total_bill_minmax_scaled']].head(10))

# Reset the column display option back to default
pd.reset_option('display.max_columns')

   total_bill  total_bill_standard_scaled  total_bill_minmax_scaled
0       16.99                   -0.314711                  0.291579
1       10.34                   -1.063235                  0.152283
2       21.01                    0.137780                  0.375786
3       23.68                    0.438315                  0.431713
4       24.59                    0.540745                  0.450775
5       25.29                    0.619537                  0.465438
6        8.77                   -1.239955                  0.119397
7       26.88                    0.798507                  0.498743
8       15.04                   -0.534203                  0.250733
9       14.78                   -0.563469                  0.245287